@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
  background-color: #efefef;
}

.section {
  margin: auto;
  max-width: 1200px;
  margin-top: 2em;
  padding: 2em;
}

.hero {
  font-size: 2em;
  padding: 2rem;
  text-align: center;
  display: grid;
  place-items: center;
  color: #fff;
  min-height: 30vh;
  background: #24c6dc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top left,
    #514a9d,
    #24c6dc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top left,
    #514a9d,
    #24c6dc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.descricao {
  font-size: 1.2em;
  color: #555;
  font-weight: 300;
}
.title {
  svg {
    width: 1em;
    margin-right: 0.5em;
    color: #888;
    stroke-width: 1px;
  }
}
.subtitulo {
  font-size: 1em;
  color: #888;
  margin-top: 1rem;
}

.projetos {
  .lista-projetos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
    margin-top: 2rem;

    a {
      text-decoration: none;
      color: #333;
      border: 1px solid #f1f1f1;
      padding: 1.5em;
      border-radius: 1em;
      transition: 0.3s ease;
      background-color: #fff;
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
      svg {
        width: 2em;
        margin-right: 1em;
        transition: 0.3s ease;
        stroke-width: 1px;
        color: #bbb;
      }
      &:hover {
        transform: scale(1.01);
        filter: drop-shadow(0 0 0.5em #d1d1d1);
        svg {
          color: #24c6dc;
        }
      }
      small {
        display: block;
        font-size: 0.8em;
        color: #bbb;
      }
    }
  }
}
.footer {
  padding: 1rem;
  text-align: center;
  color: #bbb;
  font-size: 0.8em;
  margin-top: 5em;
  a {
    color: #85badd;
    text-decoration: none;
  }
}
